<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="app1">
    <input type="text" v-model="name">
    <my-component v-bind:myname.sync="name" v-bind:myage="age"></my-component>
</div>
<template id="myComponent">
    <div>
        <h1>这是props-myComponent</h1>
        <p>{{myname}}</p>
        <input type="text" v-model="myname">
    </div>
</template>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script>
new Vue({
    el: '#app1',
    data: {
        name: 'zch',
        age: 18
    },
    components: {
        'my-component': {
            template: '#myComponent',
            props: ['myname', 'myage']
        }
    }
})
</script>
</body>
</html>