<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-model</title>
    <script src="../assets/js/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1>单行文本</h1>
        <p v-text="message"></p>
        <p>
            <input type="text" v-model="message">
        </p>
        <p>
            <input type="text" v-model.lazy="message">
        </p>
        <p>
            <input type="text" v-model.number="message">
        </p>
        <p>
            <input type="text" v-model.trim="message">
        </p>
        <h1>多行文本</h1>
        <p v-text="textarea"></p>
        <p>
            <textarea placeholder="hhhhh" id="" cols="30" rows="10" v-model="textarea"></textarea>
        </p>
        <h1>多选框</h1>
        <p>
            <input type="checkbox" id="checkbox" v-model="checked" value="qqq">
            <label for="checkbox">{{ checked }}</label>
        </p>
        <h1>单选框</h1>
        <p>
            <input type="radio" id="one" value="One" v-model="picked">
            <label for="one">One</label>
            <br>
            <input type="radio" id="two" value="Two" v-model="picked">
            <label for="two">Two</label>
            <br>
            <input type="radio" id="three" value="three" v-model="three">
            <label for="three">three</label>
            <br>
            <span>Picked: {{ picked }}</span>
        </p>
        <h1>下拉选项</h1>
        <div id="example-5">
        <select v-model="selected">
            <option disabled value="">请选择</option>
            <option value="1">A</option>
            <option value="2">B</option>
            <option value="3">C</option>
        </select>
        <span>Selected: {{ selected }}</span>
        </div>
    </div>
    <script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'this is message',
            textarea: 'this is textarea',
            checked: [],
            picked: '',
            three: '',
            selected: '2'
        }
    })
    </script>
</body>
</html>